<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<!-- Do not put in unit test configuration settings here. They should go 
		into settings-unitTests.xml. -->

	<!-- There is a more modern format given here http://www.javadocexamples.com/org/apache/commons/configuration/org.apache.commons.configuration.XMLConfiguration.html -->
	<entry key="blackboxUrl">http://localhost/blackbox/</entry>
	<entry key="ItemScoringServerUrl">http://localhost/ItemScoringServer/ItemScoring.axd</entry>

	<entry key="tds.itemPreview.showDevTools">false</entry>
	<entry key="tds.itemPreview.forceHttpContent">false</entry>
	<entry key="tds.itemPreview.encryptPaths">false</entry>

	<!-- The following logger parameters are only applicable to standalone code 
		and not to webapplication -->
	<entry key="logger.proctorDevLogPath">C:/WorkSpace/JavaWorkSpace/logs/</entry>
	<entry key="logger.debuglevel">DEBUG</entry>

	<!-- Itempreview settings -->
	<entry key="tds.itempreview.contentpath">C:/WorkSpace/TDSCore/AppsCurrent/ItemPreview/TDS.ItemPreview.Web/</entry>
</properties>